body
{

    margin:0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
}
.all{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:500px;
    height: 500px;
    padding: 0px;
    border: unset;
    background: rgba(255,255,255,0.08);
    box-sizing : border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.signin
{
    position: absolute;
    top:56%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:400px;
    height: 310px;
    padding: 40px;
    box-sizing : border-box;
    /*background: rgba(255,255,255,0.08);*/

    /*box-shadow: 0 15px 25px rgba(0,0,0,0.5);*/
    /*border-radius: 10px;*/
}
 .hi{
     margin: 0px;
     padding: 0px;
     position: relative;
     top: 65px;
     right: 90px;
     left: 150px;

     color: #03a9f4;
     text-align: center;
     width: 50px;
     height: 50px;

 }
 .hu{
     margin: 0px;
     padding: 0px;
     position: relative;
     top: 14px;
     left: 300px;
     color: #fff;
     text-align: center;
     width: 50px;
     height: 50px;

 }
 .ce{
     background: transparent;
     border: none;
     outline:none;
     color: #fff;
     background: #03a9f4;
     padding: 10px 20px;
     cursor:pointer;
     border-radius: 5px;
 }
/*.signup h2*/
/*{*/
/*    margin:0 0 30px;*/
/*    padding: 0;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*}*/
.signin .inputBox
{
    position: relative;
}
.signin .inputBox input
{
    width:100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.signin .inputBox label
{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.sp{
    width: 100px;
    height: 40px;
}
.signin .inputBox input:focus ~ label,
.signin .inputBox input:valid ~ label
{
    top:-18px;
    left:0;
    color:#03a9f4;
    font-size: 12px;
}
.signin input[type="submit"]
{
    background: transparent;

    border: none;
    outline:none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor:pointer;
    border-radius: 5px;
}

.signup
{
    display: none;
    position: absolute;
    top:56%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:400px;
    height: 310px;
    padding: 40px;
    box-sizing : border-box;
    /*background: rgba(255,255,255,0.08);*/

    /*box-shadow: 0 15px 25px rgba(0,0,0,0.5);*/
    /*border-radius: 10px;*/
}
/*.signup h2*/
/*{*/
/*    margin:0 0 30px;*/
/*    padding: 0;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*}*/
/*.signup h2*/
/*{*/
/*    margin:0 0 30px;*/
/*    padding: 0;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*}*/
.signup .inputBox
{
    position: relative;
}
.signup .inputBox input
{
    width:100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.signup .inputBox label
{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.signup .inputBox input:focus ~ label,
.signup .inputBox input:valid ~ label
{
    top:-18px;
    left:0;
    color:#03a9f4;
    font-size: 12px;
}
.signup input[type="submit"]
{
    background: transparent;

    border: none;
    outline:none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor:pointer;
    border-radius: 5px;
}
input
{
    margin: 0px;
}
p
{
    margin-top: 0px;
    margin-bottom: 30px;
}