<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://lib.baomitu.com/jquery/3.6.0/jquery.min.js"></script>
    <link th:href="@{/css/re.css}" rel="stylesheet"/>
    <script th:src="@{/js/rq.js}" type="text/javascript"></script>
</head>
<body>
<a href="#">发布寻求</a>
<div class="mask" id="mask">
    <div class="q1" id="q1">
        <div class="q2" id="q2">
            <h1>发布寻求</h1>
            <label>名字:</label><input type="text" name="name"><p class="np1"></p><br/>
            <label>数量:</label><input type="text" name="num"><p class="np2"></p><br/>
            <label>价格:</label><input type="text" name="price"><p></p><br/>
            <label>图片:</label><input type="file" name="pic"><p></p><br/>
            <label>分类：</label>
            <input type="radio" value="科技"name="classify">科技
            <input type="radio" value="书籍"name="classify">书籍
            <input type="radio" value="电子"name="classify">电子<br/>
            <input type="radio" value="日常"name="classify">日常
            <input type="radio" value="衣服" name="classify">衣服
            <p></p>
            <br/>
            <label>描述:</label><br/>
            <textarea class="textarea"></textarea><br/>
            <button class="tj">提交</button>
        </div>
    </div>
</div>
</body>
</html>