<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.mapper.loginMapper">
    <select id="login" resultType="users" parameterType="string">
        select * from user where phone=#{acount}
    </select>
    <select id="check" parameterType="string" resultType="users">
        select * from user where phone=#{phone}
    </select>
    <insert id="register" parameterType="string">
        insert user values (#{id},"",#{password},"",#{phone},1)
    </insert>
</mapper>